/*
 * 跃飞科技版权所有 @2017
 */

/*订单商品*/
.order_goods{position: absolute;z-index: 3;left: 180px;top:0px;width: 400px !important;display: none;text-align: center; border-collapse: collapse;border: 1px solid #ccc}
.order_goods .order_img {width: 80px; font-weight: bold;}
.order_goods .order_price {width: 60px; font-weight: bold;}
.order_goods .order_number {width: 80px; font-weight: bold;}
.order_goods .order_attr {width: 80px; font-weight: bold;}
.order_goods .order_total_price {width: 80px; font-weight: bold;}


/*订单详情*/
.first-cell{position: relative;cursor: pointer}
.goods_logo{position: absolute;z-index: 3;left: 280px;top:-3px;border: 1px solid #ccc;display: none}
