<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>激活gv商城账户</title>
</head>
<body>
<table width="675" border="0" summary="Rebajamos los precios. ¡Aprovecha!" style="font-family:Helvetica, Arial, sans-serif">
    <tr>
        <td height="132" colspan="3" align="center"><a href="http://www.geekvida.pt"><img title="Geekvida" alt="Geekvida" src="http://www.geekvida.pt/skin/frontend/default/geekvidapt/images/logo.png"  width="221" height="39" longdesc="http://www.geekvida.pt" /></a></td>
    </tr>
    <tr>
        <td> 恭喜你注册成功，请激活邮箱登陆</td>
    </tr>
</table>
</body>
</html>