<!DOCTYPE html>
<!--
  ~ 跃飞科技版权所有 @2016
  -->

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>测试</title>
</head>
<body>
<table width="675" border="0" summary="Rebajamos los precios. ¡Aprovecha!" style="font-family:Helvetica, Arial, sans-serif">
    <tr>
        <td height="132" colspan="3" align="center"><a href="http://www.geekvida.pt"><img title="Geekvida" alt="Geekvida" src="http://www.geekvida.pt/skin/frontend/default/geekvidapt/images/logo.png"  width="221" height="39" longdesc="http://www.geekvida.pt" /></a></td>
    </tr>
    <tr>
        <td width="200" align="center" valign="middle"><img title="Descuentos de Geekvida" src="http://k35.kn3.net/F/3/5/B/8/5/ABE.jpg" alt="Grandes Descuentos" width="200" height="172" /></td>
        <td width="432" colspan="2" style="text-align:justify;padding:10px"><h1>¡GRANDES DESCUENTOS!</h1>
            <p>Tras tantas personas que se registraron, hemos podido mejorar los precios de las ofertas, y ahora mas que nunca puedes encontrar a precios aún más bajos como <a href="http://www.geekvida.pt/smartphone-zopo-zp980-con-so-android-4-2-cpu-mtk6589.html"><strong>Zopo zp980</strong></a> Android 4.2 CPU MTK6589 solo <strong>$211.99 </strong>y el smartphone <strong><a href="http://www.geekvida.pt/smartphone-royalstar-5s-android-4-1-mtk6517-doble-nucleos.html">Royalstar 5S</a></strong> MTK6517 Doble Núcleos solo <strong>$47.59</strong> ¿Increible no?</p>
            <p>Aprovecha a comprar los mejores productos, a precios bajos, y <strong>con envio gratis</strong> hasta tu casa.</p></td>
    </tr>
    <tr>
        <td colspan="3" align="center" style="padding:20px 0px">Ven, ingresa a <a href="http://www.geekvida.pt/es-specialoffer">geekvida.pt</a> y disfruta de tu compra.</td>
    </tr>
</table>
</body>
</html>